<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/uploadCourse.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Form upload</title>
</head>

<body>
  <form action="/UploadingCourse" method="get">
    <div class="wrapper">
      <h1>Thêm khoá học của bạn</h1>
      <div class="form">
        <div class="select">

          <div class="select-img">
            <div class="img-main">
              <i class="main-icon fa-solid fa-image"></i>
              <label for="main-img" class="main-title">Add img</label for="">
            </div>
            <input class="main-input" type="file" name="main-img" id="main-img" />
            <img class="img-display" src="" alt />
          </div>

          <div class="img-sub">
            <div class="sub">
              <label for="sub-img1" class="sub-title">Add img</label>
              <input class="sub-input" type="file" name="sub-img1" id="sub-img1" />
              <img class="sub-img-display" src="" alt />
            </div>

            <div class="sub">
              <label for="sub-img2" class="sub-title">Add img</label>
              <input class="sub-input" type="file" name="sub-img2" id="sub-img2" />
              <img class="sub-img-display" src="" alt />
            </div>

            <div class="sub">
              <label for="sub-img3" class="sub-title">Add img</label>
              <input class="sub-input" type="file" name="sub-img3" id="sub-img3" />
              <img class="sub-img-display" src="" alt />
            </div>
          </div>

        </div>
        <span class="form_input">
          <div class="form-group">
            <label class="form_title" for="">Tên khóa học</label><br />
            <input name="name" type="text" id="name" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Cấp độ khoá học</label><br />
            <input name="level" type="text" id="level" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Giá tiền</label><br />
            <input name="price" type="text" id="price" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Độ tuổi</label><br />
            <input name="age" type="text" id="age" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Trình độ học vấn</label><br />
            <input name="level_required" id="level_required" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Thời lượng khóa học</label><br />
            <input name="duration" id="duration" />
          </div>

          <div class="form-group">
            <label class="form_title" for="">Lịch học</label><br />
            <input name="calendar" id="calendar" />
          </div>

          <h2>Notes</h2>
          <div class="form-group2">
            <label class="form_title" for="note">Mô tả chi tiết</label><br />
            <textarea name="note" id="note" rows="10" cols="50"></textarea>
          </div>
        </span>
      </div>

      <button type="submit" class="submit">Submit</button>
      <button>Back</button>
      
    </div>
  </form>
</body>

</html>